.cart-wrapper {
    width: 100%;
    display: grid;
    gap: 2rem;
    place-self: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    padding: 2rem .5rem 1rem .5rem;
}

.poster-cart-con {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: 1rem;
    border-radius: .3rem;
    font-size: 1rem;
    background-color: white;
    color: black;
    min-width: 15rem;
    min-height: 17rem;
}

.poster-img  img {
    border-radius: .3rem .3rem 0 0;
}

.poster-info {
    padding: 1rem;
}

.remove-btn, .buy-btn {
    border: none;
    color: white;
    background-color: red;
    padding: .5rem;
    margin-top: 1rem;
    border-radius: .3rem;
}

.cart-summary {
    display: grid;
    gap: .5rem;
    grid-template-areas: 
    "sum-header-article . sum-header-amount sum-header-cost"
    "article-1 . amount-1 cost-1"
    "article-2 . amount-2 cost-2"
    "cart-total . . cart-amount";
}

.header-article {grid-area: sum-header-article;}
.header-amount {grid-area: sum-header-amount;}
.header-cost {grid-area: sum-header-cost;}
.article-1 {grid-area: article-1;}
.article-2 {grid-area: article-2;}
.amount-1 {grid-area: amount-1;}
.amount-2 {grid-area: amount-2;}
.cost-1 {grid-area: cost-1;}
.cost-2 {grid-area: cost-2;}
.cart-total {grid-area: cart-total;}
.cart-amount {grid-area: cart-amount;}

.sum-header {
    font-weight: 600;
    font-size: 1.5rem;
}


.buy-btn {
    font-size: 1.8rem;
    margin-top: 2rem;
    align-self: flex-end;
}


